body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calculadora {
  text-align: center;
  border: 1px solid #aaa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.operacoes button {
  margin: 5px;
}

.resultado {
  border: solid 1px #aaa;
  padding: 3px;
}
